*{
	margin: 0;
	padding: 0;
}

html{
	overflow: hidden;
}

#canvas_wrapper{
	width: 100%;
	position: relative;
}

#canvas{
	margin: auto;
	display: block;
	background-color: #FFFFFF;
	position: absolute;
}
