*{
	margin: 0;
	padding: 0;
}

html{
	overflow: hidden;
}

#canvas {
    background-color: rgb(190,190,200);
}

#invisible {
	display: none;
}

@font-face { font-family: Lexend; src: url('Lexend-Regular.ttf'); }